.grid {
    display: flex;
    width: 800px;
    height: 800px;
    border: 2px solid black;
    flex-wrap: wrap;
    flex-grow: 1;
}

.grid div {
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
}